/////////////////////////////////////
///LOGO
.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

/////////////////////////////////////
///SEARCH
.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.3s;
    margin-right: -3.25rem;
    &:focus {
      width: 100%;
      outline: none;
      background-color: var(--color-grey-light-3);
    }
    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }
  &-input:focus + &-button {
    background-color: var(--color-grey-light-3);
  }
  &-button {
    border: none;
    background-color: var(--color-grey-light-2);
    transform: translateY(2px);
    &:focus {
      outline: none;
    }
  }
  &-icon {
    height: 1.9rem;
    width: 1.9rem;
    fill: var(--color-grey-dark-3);
  }
}

/////////////////////////////////////
///USER NAV

.user-nav {
  &-icon-box {
  }
  &-icon {
    height: 2.25rem;
    width: 2.25rem;
  }
  &-notification {
  }
  &-user {
  }
  &-user-photo {
    height: 3.25rem;
    border-radius: 50%;
  }
  &-user-name {
  }
}
